<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Library</title>
<link href="webjars/bootstrap/3.3.6/css/bootstrap.min.css"
	rel="stylesheet">
</head>
<body>
<a  th:href="@{/(lang=en)}" data-th-text="#{label.lang.en}"></a>
<a th:href="@{/(lang=tr)}" data-th-text="#{label.lang.tr}"></a>
	<div class="container text-center">
		<h1 th:text = "#{hello.text}"></h1>
		<h3>
			<a th:href="@{/register}">Register</a>
		</h3>
		<h3>
			<a th:href="@{/login}">Login</a>
		</h3>
	</div>

	<script src="webjars/jquery/1.9.1/jquery.min.js"></script>
	<script src="webjars/bootstrap/3.3.6/js/bootstrap.min.js"></script>

</body>
</html>