<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title th:text="#{label.title}"></title>
<link href="webjars/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
<link th:href="@{/css/main.css}" rel="stylesheet">
</head>
<body>
	<div class="container text-center">
		<h3>Congratulations, your account has been verified.</h3>
		<h4>
			<a th:href="@{/login}">Click here to Login</a>
		</h4>
	</div>
	<script src="webjars/jquery/1.9.1/jquery.min.js"></script>
	<script src="webjars/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</body>
</html>